
<%= simple_form_for @review do |f| %>
        <%= f.input :rating , wrapper_html: { class: 'form-group' }%> 
        <%= f.input :comment, wrapper_html: { class: 'form-group' }%>
        <%= f.button  :submit, "Submit Review", class: "submit-button"  %>
        <%= f.hidden_field :place_id, :value => "#{@review.place_id}"%>
    </div>
<% end %>
