<% provide :head_tags do %>
    <meta name='turbolinks-visit-control' content='reload'>
    <script>
      document.addEventListener("DOMContentLoaded", function(){
        initMap(<%=@place[:place_lat]%>, <%=@place[:place_lng]%>);
      });

    function initMap(lat, lng) {
        var myCoords = new google.maps.LatLng(lat, lng);
        var mapOptions = {
          center: myCoords,
          zoom: 15
        };

        var map = new google.maps.Map(document.getElementById('map'), mapOptions);

        var marker = new google.maps.Marker({
         position: myCoords,
         map: map
        });
    }
    </script>
  <% end %>
<div class="content">
  <h1>Details</h1>
  <div style="float: left;">
    <% if @place[:place_icon] %>
      <%= image_tag @place[:place_icon], size: "30"%>
    <% end %>
  </div>
  <h4><b><%= @place[:place_name] %></b></h4>
  <div id="map" style="float: left;" ></div>
  <div class="features">
    <h5><b> Address </b></h5>
    <p><%= @place[:place_address] %></p>
    <h5><b> Open Now? </b></h5>
    <% if @place[:place_opennow]["open_now"] == "true" %>
      <p>Yes, we are open!</p>
    <% else %>
      <p>Sorry, we are closed.</p>
    <% end %>
    <h5><b> Category </b></h5>
    <% @place[:place_types].each do |feature| %>
      <p class = "keyword"><%= feature %></p>
    <%end%>
    <h5><b> Rating </b></h5>
    <p><%= @place[:place_rating] %></p>
    <h5><b> Price Level </b></h5>
    <p><%= @place[:place_pricelevel] %></p>
  </div>
</div>