<div class="demo">

<div class="">
<% cache do %>
  <h4 style="text-align:center;">Find Your Favorite Dating Spot</h4>
  <div style="margin-bottom:10px; margin-top:10px;">
    <%=image_tag 'heart-logo-transparent.png', :class => "logo_image" %>
  </div>
<% end %>

  <% if user_signed_in? %>
    <%= form_tag("/home_page/search", method: "get") do %>
      <div >
        <h5> Where do you want to go on a date?</h5>
      </div>
      <div class="form-group">
        <%= select_tag(:search, options_for_select([ "Resturant", "Bar", "Sporting Event", "Concert" ], "Resturant")) %>
      </div>
      <div >
        <h5>What City?</h5>
      </div>
      <div>
      <%= text_field_tag :city, nil,  :required => true%>
      </div>
      <div style="margin-top:10px;">
      <h5> Sorted by</h5>
      </div>
        <div >
        <%= select_tag(:sortCat ,options_for_select([ "Rating", "Distance","Name" ], "Rating")) %>
        </div>
   
      <div  style="margin-top:15px;">
        <%= submit_tag("Search") %>
      </div>
    <% end %>
  <% else %>
    <h3 style="text-align:center">Please sign up or sign in</h3>

  <% end %>
  </div>
  
</div>


