<%#review_new_path
new_review_path %>

<div class="header" >
  <h2 >
    <%= params[:search] %>s in <%= params[:city] %>
  </h2>
</div>

<div class="row">
<% @places.each do |place| %>
  <% cache place do %>
    <div class="col-md-6 card-col">
    <div class="card ">
      <% if place.photos.present? %>
        <%= image_tag(place.photos[0].fetch_url(800), alt:"Image", style: "width:100%; height:400px") %>
      <% end %>  
      <div class="container">
        <%= link_to home_page_details_path(params: {place_name: place.name, 
        place_icon: place.icon, place_types: place.types, place_address: place.formatted_address, 
        place_lat: place.lat, place_lng: place.lng, place_rating: place.rating, 
        place_opennow: place.opening_hours, place_pricelevel: place.price_level}) do %>
            <%=image_tag 'baseline_directions_black_18dp.png', :class => "map_icon" %>
        <%end%>
        <h4><b><%= place.name %></b></h4>
        <p><%= place.formatted_address %></p>
        <p>Rating: <%= place.rating %></p>
        <div>
          <%= link_to "Add Review",new_review_path(place_id: place.id) %>
          
        </div>
        <div>
        <%= button_to 'Save Place', home_page_save_path, method: :post,  params: { place_id: place.place_id} %>
        </div>
      </div>
    </div>
    </div>
  <% end %>
<%end%>
</div>