<% @places.each do |place| %>
  <div class="card">
    <img src=<%= place.photos[0].fetch_url(800) %> alt="Image" style="width:100%">
    <div class="container">
      <h4><b><%= place.name %></b></h4>
      <p><%= place.formatted_address %></p>
      <p>Rating: <%= place.rating %></p>
      <%= button_to 'Save Place', home_page_save_path, method: :post,  params: { place_id: place.place_id} %>
    </div>
  </div>
<%end%>