<%#review_new_path
new_review_path %>

<div class="header" >
<h2 >
  <%= params[:search] %>s in <%= params[:city] %>
</h2>
<% @places.each do |place| %>
 
  <div class="card">
    <%= link_to home_page_details_path(params: {place_lat: place.lat, place_lng: place.lng}) do %>
      <%= image_tag(place.photos[0].fetch_url(800), alt:"Image", style: "width:100%") %>
    <% end %>
    <div class="container">
      <h4><b><%= place.name %></b></h4>
      <p><%= place.formatted_address %></p>
      <p>Rating: <%= place.rating %></p>
      <div>
        <%= link_to "Add Review",new_review_path(place_id: place.id) %>
        
      </div>
      <div>
      <%= button_to 'Save Place', home_page_save_path, method: :post,  params: { place_id: place.place_id} %>
      </div>
      

    </div>
  </div>
<%end%>