<%# review_new_path
new_review_path %>

<% @places.each do |place| %>
  <div class="card">
    <img src=<%= place.photos[0].fetch_url(800) %> alt="Image" style="width:100%">
    <div class="container">
      <h4><b><%= place.name %></b></h4>
      <p><%= place.formatted_address %></p>
      <p>Rating: <%= place.rating %></p>
      <div>
        <%= link_to "Add Review",new_review_path(place_id: place.id) %>
      </div>

    </div>
  </div>
<%end%>